# Git files
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# IDE files
.idea/
.vscode/

# Other
.env
frontend/node_modules