server {
    listen 80;
    server_name __SERVER_NAME__;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        add_header Retry-After "300" always;
        return 503;
    }
}
